<h1>Edit Workout</h1>
<%= render 'form' %>
<h4>Details</h4>
<div id="details-container"></div>
<div style="margin-top: 2em;">
  <a href="/workouts/" class="btn btn-secondary" role="button"><i class="fas fa-arrow-circle-left"></i> Back</a>
</div>
<div>
  <%= javascript_pack_tag 'workout_detail' %>
</div>