<h1>Workouts#edit</h1>
<p>Find me in app/views/workouts/edit.html.erb</p>
<%= render 'form' %>
<h4>詳細</h4>
<div id="details-container"></div>
<div>
<%= link_to 'Show', @workout %>
</div>
<div>
  <a href="/workouts/">Back</a>
</div>
<%= javascript_pack_tag 'workout_detail' %>
