<h1>Workouts#new</h1>
<p>Find me in app/views/workouts/new.html.erb</p>
<%= form_with model: Workout.new do |f| %>
  <div>
    <span><label>日付</label><%= f.text_field :date, value: @initial_date %></span>
    <span><label>練習内容</label><%= f.select :kind, [["swimming", 'swimming'], ["bike", 'bicycle']] %></span>
  </div>
  <div>

  </div>
  <%= f.button '送信', id: 'customButton', type: 'submit', class: 'btn btn-primary' %>
<% end %>
