<h1>Workout</h1>
<div>
date: <%= @workout.date %>
</div>
<div>
kind: <%= @workout.kind %>
</div>
<div>
<%= link_to 'Edit', edit_workout_path(@workout), data: {turbolinks: false} %>
</div>
<div>
  <a href="/workouts/">Back</a>
</div>